<div class="heading  text-center font-bold text-2xl m-5 text-blue-400">New Discussion</div>


 <div class="editor container  mx-auto w-9/12 flex h-3/4 rounded max-h-5/6 flex-col text-gray-800 border border-gray-300 p-4 shadow-2xl">
 <%= render 'form'%>
 </div>