<section class="md:container md:mx-auto mt-2">

<div class="md:h-screen flex md:flex-row flex-col pt-3 flex-wrap">
    <div class="md:w-1/2 p-3"> 
    <h2 class="text-4xl sm:text-6xl lg:text-7xl md:leading-6 font-bold font-sans tracking-tight text-gray-900 mt-10 mb-8 sm:mt-14 sm:mb-10">
    Make <span class="text-indigo-500 subpixel-antialiased">Discussions</span> Become More Comfortable </h2>
    

    <p class="tracking-tight text-indigo-900 font-medium text-md mt-10 mb-8 sm:mt-14 sm:mb-10"> New and modern way to discuss your problem and get solution &#128516;</p>
 
    <div class=""> <a href="#" class="font-medium  text-md mt-10 mb-8 sm:mt-14 sm:mb-10 btn-primary md:p-6 p-3 rounded-md shadow"> Get Started </a></div>
    </div>
    <div class="md:w-1/2 p-3 flex justify-center align-items-center"> <p class="text-8xl"> 
            <%= image_tag "discuss.svg", alt: "schedule", width: 300, class: "mb-4 w-full" %>
     </p> </div>
 </div>

 <div class="flex flex-col justify-center  p-5 h-full pb-3 align-items-center bg-indigo-100 rounded-xl">

    <h3 class="uppercase text-blue-900 text-3xl font-medium pt-4 place-self-center"> Trusted By </h3> <br>
    <div class="flex flex-row pt-5  justify-center space-x-36"> <p><i class="fab text-6xl text-gray-500 fa-apper"></i></p> <p><i class="fab fa-aws text-6xl text-gray-500"></i></p> <p> <i class="fab fa-dev text-6xl text-gray-500"></i></p> <p> <i class="fab fa-bitcoin text-6xl text-gray-500"></i></p> <p> <i class="fab fa-spotify text-6xl text-gray-500"></i></p> </div>
 </div>

</section>
