<section class="w-full max-w-screen max-h-full">

<div class="container mx-auto max-h-full h-full mt-5">
<!-- light mode -->
<div class="max-w-full mx-auto sm:px-6  lg:px-8">
    <div class="overflow-hidden border border-b rounded">
        <!-- card header -->
        <div class="px-6 py-4 bg-white border-b border-gray-200 font-bold justify-between uppercase flex">
            <h1 class="text-blue-800 text-2xl font-sans">#<%= @community.name %></h1>
            <p class="font-extralight"> Created: <%= time_ago_in_words(@community.created_at)%> ago</p>
        </div>

        <!-- card body -->
        <div class="p-6 bg-white border-b border-gray-200">
            <!-- content goes here -->
           <p> Topics so far </p>
        </div>

        <!-- card footer -->
        <div class="p-6 bg-white border-gray-200 text-right">
            <!-- button link -->
            <a class="bg-blue-500 shadow-md text-sm text-white font-bold py-3 md:px-8 px-4 hover:bg-blue-400 rounded uppercase" 
                href="#"> New Discussion</a>
        </div>
    </div>
</div>





 </div>

</section>